* {
  box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #0E345A;
  overflow: auto;
  padding: 5px 50px;
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  border-radius: 0px;
}

.navbar a:hover {
  background-color: #e9e9e9;
  color: #000;
}

.active {
  background-color: #0e3451;
}
.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}

.navbar-right {
  float: right;
}

.navbar input[type=text] {
  float: left;
  padding: 8px;
  margin-top: 4px;
  margin-left: 40px;
  margin-right: 20px;
  border:none;
  border-radius: 50px;
  font-size: 16px;
}

/*.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}*/

  @media screen and (max-width: 600px) {
  .navbar a, .navbar-right, .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

  .header{
  background-color: #0E345A;
  /*padding:5px;*/
  text-align: center;
  overflow: auto;
  color: white;
  /*height: 5%;*/
  }




/* Column Conatiner*/
.row {
  /*margin: 10px 50px;*/
  display: flex;
  /*flex-wrap: wrap;*/
  text-align: center;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: flex;
  clear: both;
}

.side{
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main{
  flex: 75%;
  background-color: white;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

/*.main:after {
  content: "";
  display: flex;
  clear: both;
}
*/
.column{
  /*height: 400px;*/
  width: 345px;
  padding: 10px;
  margin: 10px;
  position: static;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*box-sizing: border-box;*/

  display: inline-block;


  content: "";
  display: flex;
  clear: both;
}
.container-fluid {
  padding-right: 50px;
  padding-left:  50px;
  margin: 15px;
  margin-right: auto;
  margin-left: auto;
}




  div.card img {
    width:100% ;
    height:100% ;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-height: 250px;*/
    height: 200px ;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    margin: auto;

  }

.container {
/*  padding-right: 0px;
  padding-left: 0px;*/
/*  margin-right: auto;
  margin-left: auto;*/
  font-size: 14px;
  overflow: hidden;

  /*padding: 10px;*/
}

  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

/*.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;*/
}

  
  .container-box{
    padding: 0 10px;
    
  }
  .container-box::after{
    content:"";
    clear: both;
    display: table;
  }

  .title{
    color: gray;
  }

  .button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #0E345A;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px){
    .column{
      width: 100%;
      display: block;
    }
  }




ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}


a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


#category ul{
  list-style-type:none;
  overflow:hidden;
  width:100%;
  border:1px solid #ccc;
  background: #fff;
  border-bottom-right-radius:10px;
  border-bottom-left-radius: 10px;
}

#category li {
  display:block; 
  font-weight:400; 
  padding:10px; 
  border-top: 1px solid #ccc;
  margin-left:-40px; 
}

  /* The footer is fixed to the bottom of the page */
 
footer{
  position: fixed;
  bottom: 0;
}
 
@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}
 
 
.footer-distributed{
  background-color: #0E345A;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
  width: 30%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Roboto';
  margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
  width: 58%;
}
 
.footer-distributed h3 span{
  color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
  width: 35%;
}
 
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
/*.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;;
}*/
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
  width: 30%;
  line-height: 20px;
  color:  #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;

}
 
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #0E345A;
 
  font-size: 30px;
  color: #ffffff;
  text-align: center; 
  margin-right: 5px;
  margin-top: 25px;
}


@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


/*for login form*/

form {border: 0px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*last of login form*/